<h2> <%=@cocktail.name%> </h2> </br>
<h4> Details </h4> </br>
<%= link_to new_cocktail_dose_path(@cocktail) do %>
<i class="fa fa-plus" aria-hidden="true"></i>
<% end %>
<% @cocktail.doses.each do |dose| %>
  <p> <strong> ingredient: </strong> <%= dose.ingredient.name %> </p>
  <p> <strong> description: </strong> <%= dose.description %> </p>
  <p>--------------------------------------</p>
  <%= link_to cocktail_dose_path(@cocktail, dose), :method => :delete do %>
  <i class="fa fa-trash-o" aria-hidden="true"></i>
<% end %>
<% end %>


